---
---
{% include header.html %}

    <div class="about">
      <p>By encouraging learning through play and exploration, the Octavia Project will focus 
      girls’ passion in science-fiction/fantasy, fan girl culture, gaming and art and use it as an 
      entry-point into nuanced writing, art, science and tech workshops where participants 
      will build confidence and 21st century workforce skills while dreaming new futures for 
      themselves and their communities.</p>

      <p>We draw inspiration from ground-breaking author Octavia E. Butler and her visions of 
      possible futures. As her work was enriched by deep engagement with complex racial 
      identities, queerness and environmentalism, we aim to create a space in which girls of 
      Brooklyn can likewise engage through new means, exploring technology through 
      writing, science through art and creation.</p>

      <p>Octavia Project participants will engineer models of their own fictional cities, bring 
      pages of their story to life with paper circuits, and program games built on narratives 
      they authored. They will meet women who work in science and tech, receive internship 
      and online publishing opportunities, and work with college-aged mentors.</p>

      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

      <h1>Why is the Octavia Project needed?</h1>

      <p>We know that <a target="_blank" href="https://www.stemconnector.org/sites/default/files/store/STEM-Students-STEM-Jobs-Executive-Summary.pdf">
          a majority of students who enter high school excited about science, technology, engineering and math (STEM), 
          leave school uninterested in these subjects</a>. 
      We also know, due to unequal access and biased norms, 
      girls and students from low-income homes are significantly less likely to be engaged in 
      STEM as they grow older.</p>

      <p>The Octavia Project aims to serve girls from low-income neighborhoods and under-served 
      schools in this precarious time, before the internal narrative of “I’m not a math person” or 
      “Science just isn’t my thing” takes over.</p>

      <p>In our combined x years of working with teen girls, we have seen a real need to connect 
      skill-building in science and tech with girls’ personal interests and hobbies, and we have 
      also noticed a lack of safe spaces where high school girls could explore and play with STEM.</p>

      <p>The Octavia Project will offer dynamic programming that teaches STEM skills through art 
      and writing, forging a safe space for underserved teenage girls to learn through joy.</p>

      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

      <h1>How does the program work?</h1>

      <p>Workshops will take place three days a week in July and August. Workshop size will be 
      kept small, and workshops are open to Brooklyn girls ages 13-18. Participation is free. 
      Workshops will be co-led by teaching artists specializing in science, tech, art and 
      writing. Workshops will be joined periodically by guest speakers, women who work in 
      science, tech, design or publishing. The summer will conclude with a gallery showcase of 
      participants’ multi-media works.</p>

      <p>Workshops will build 21st century skills: art and writing workshops will focus on 
      creativity, innovation, communication and critical thinking, while science and tech 
      workshops will focus on programming, engineering and digital and media literacy. 
      Concepts in science and tech will be accessed through art and creation, an approach 
      gaining popularity in learning spaces across the country (STEM + Art = STEAM).</p>

      <p>Each week will explore a new theme and set of skills. Week one might explore plot 
      development and crafting branching narratives with myriad possibilities. Then girls will 
      use a digital story-telling platform, like Twine, to turn their story into an interactive 
      mobile game. Week two might be about world-building in fiction, and girls will build 3-
      D models of their imaginary cities.</p>

      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

      <h1>Who leads the Octavia Project?</h1>

      <img class="bio" src="{{ site.url }}/assets/img/photos/meghan.png">

      <h3>Meet Meghan, Octavia Project co-founder and director.</h3>

      <p>Meghan McNamara is a teacher and organizer living in Brooklyn, NY. Previously, Meghan 
      was director of programs at Girls Write Now, a nationally-recognized writing and mentoring 
      program for underserved NYC high school girls. During her six years at Girls Write Now 
      Meghan more than doubled the number of girls served and developed and led a new digital-
      writing and mentoring program in partnership with The New School.</p>

      <p>Meghan currently teaches adults pursuing their high school equivalency diplomas in Bronx, 
      NY. In this capacity she developed and taught a year-long course that used Rebecca Skloot’s 
      The Immortal Life of Henrietta Lacks to build science literacy and confidence in STEM 
      skills in women adult learners, which she has presented on at national and regional 
      conferences. Meghan also teaches robotics to middle school students in Brooklyn.</p>

      <br style="clear: both"/>

      <img class="bio" src="{{ site.url }}/assets/img/photos/chana.jpg">

      <h3>Meet Chana, Octavia Project co-founder and director.</h3>

      <p>Chana Porter is a writer and teacher living in Bed-Stuy, Brooklyn. Her plays and 
      performance pieces have been developed and produced at Rattlestick Playwright’s Theatre, 
      Cherry Lane, The Invisible Dog, Primary Stages, Movement Research, PS122, and The 
      White Bear in London. She has been an Artist-In-Residence at Space On White, CAVE, and 
      Dixon Place. She has been a guest teaching artist at Hampshire College, Worcester Polytech, 
      and Think Tank, a science and art learning center for teens. She is currently a third year 
      writing mentor at Girls Write Now, where she has been working one-on-one with a writing 
      mentee on a weekly basis, while helping create and lead workshop programming throughout 
      her time at GWN. Chana is in the thick of writing a series of YA Science Fiction novels, 
      entitled Post Human Classics.</p>

      <p>Chana graduated from Hampshire College with a degree in Theatre for Social Change in 
      2006. Masters in Playwriting with Honors: University of Exeter, UK, 2008. MFA in Creative 
      Writing from Goddard College (Summer 2015).</p>

      <br style="clear: both"/>

      <img class="bio" src="{{ site.url }}/assets/img/photos/chandanie.jpg">

      <h3>Meet Chandanie, Octavia Project teaching-artist mentor.</h3>

      <p>Chandanie Hiralal is a young fantasy writer who hopes to make it big one day so she can use the 
      money she makes to help fuel organizations against animal cruelty (and adopt a fully vegan diet) 
      as well as movements for women’s equality, environmental conservation, and LGBTQIA rights.</p>

      <p>Chandanie published her first book of poems and short stories when she was 14. Currently she is 
      working on another book of poems and is looking to publish her first novel, Moonrise in the 
      Darkness, some time in 2015. She’s a sophomore at CUNY Queens College with a major in 
      English and minor in Business in Liberal Arts. Chandanie has a wide range of interests, but in 
      her spare time she enjoys playing video games, watching anime, going out with her boyfriend on magical 
      adventures, and attuning herself with the Universe; recognizing and becoming one with the 
      stream of meaningful coincidences found in everyday life.</p>
    </div>

{% include footer.html %}

