---
---
{% include header.html %}

    <img class="bio" src="{{ site.url }}/assets/img/photos/sculpting.jpg"> 

    <div class="about">
      <p>Now in our fifth year, the Octavia Project uses the creative power of science fiction and community to envision new futures 
          and greater possibilities for our world. We foster spaces of imagination and exploration for Brooklyn teens, blending 
          creative writing, art, science, and technology to encourage critical thinking, increase confidence, and develop skills 
          in a myriad of subjects.</p>

      <p>At our Summer Institute, young women and trans, gender non-conforming, or questioning youth from all over Brooklyn come 
          together to muse on alternate histories and possible futures with award-winning authors; stretch their minds by coding 
          interactive games based on their own stories; and attend interactive lectures in city planning and cellular biology. 
          Guest teachers and artists knit their expertise into our world building science fiction curriculum: These architects, 
          biologists, computer programmers, city planners, authors, and artists help create a totally unique program which allows 
          for deep exposure to multiple disciplines and possible career paths. Through these interdisciplinary workshops, participants 
          are able to inhabit their own science fiction and fantasy worlds. And they do this while creating community that is rooted 
          in joy, compassion, encouragement, and self love.</p> 
        
      <p>Our Fellowship Program gives returning participants, age 16 and up, the opportunity to take on leadership and mentoring 
          roles within the community, in addition to gaining all the benefits of participating in our Summer Institute. Fellows lead 
          exercises, advise program leaders, and mentor new participants; additionally, they receive stipends in acknowledgement of 
          their additional responsibilities.</p>
          
        <p>We use the lens of science fiction and fantasy to examine our current world and see the social and legal contracts that 
            shape our city, schools, streets, and neighborhoods. Our teens gain the understanding that the world around them was 
            created by a series of choices, and those choices can be modified, remade, or replaced by something new. Our inspiration 
            and namesake is Octavia E. Butler, who <a target="_blank" href="http://www.nytimes.com/2001/04/29/books/science-fiction.html"> 
            broke barriers in writing and science fiction</a> to become an award-winning and internationally recognized author 
            (<i>Kindred, Lilith's Brood</i>). We are inspired by her visions of alternate futures and commitment to social justice.</p>
          
         <p>Read more about us on <a target="blank" href="https://www.writersdigest.com/editor-blogs/writers-perspective/writers-digest-news/meet-the-future-of-science-fiction-the-teen-scribes-of-the-octavia-project">
             Writer's Digest</a>, <a target="blank" href="http://www.nydailynews.com/blogs/pageviews/octavia-project-empowers-teen-girls-science-fiction-blog-entry-1.2285161">
      Daily News</a>, <a target="blank" href="http://www.dnainfo.com/new-york/20150409/bed-stuy/workshops-use-sci-fi-fan-fiction-teach-girls-stem-writing-skills?utm_content=buffer83973&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      DNA Info.com</a>, <a target="blank" href="https://electricliterature.com/we-need-the-alternate-realities-living-inside-girls-of-color-from-brooklyn-dea308acb10">
      Electronic Lit</a>, <a target="blank" href="http://www.barnesandnoble.com/blog/sci-fi-fantasy/the-octavia-project-and-top-sff-recommendations-for-young-women/"> 
      Barnes & Noble blog</a>, and <a target="blank" href="http://www.huffingtonpost.com/meghan-mcnamara/what-science-fiction-can-_b_7268896.html?utm_content=buffer85c92&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      Huffington Post</a>. And see more about our connections to the tech, publishing, arts, non-profit, and education fields through our 
      <a href="#AB">advisory board</a>.</p>

      <br>
      
      <h1>Leadership</h1>
        
      <img class="bio" src="{{ site.url }}/assets/img/photos/meghan.png">

      <h3>Meet Meghan McNamara, Octavia Project co-founder and Executive Director.</h3>

<p>Meghan comes to the Octavia Project with over 10 years of experience in non-profit leadership and education. Previously, 
    Meghan was director of programs at Girls Write Now, a nationally-recognized writing and mentoring program for NYC high 
    school girls. After that, Meghan taught science, math, and writing to adults pursuing their high school equivalency 
    diplomas in the Bronx and Manhattan. In this capacity she developed and taught science curriculums that built STEM 
    literacy and confidence in adult learners, which she presented on regionally and nationally. Meghan also taught video 
    game design to middle school students in Brooklyn. Currently Meghan helps raise funds for educational initiatives in 
    India. When she’s not working on the Octavia Project, you can find her reading science fiction, riding her bike around 
    Brooklyn, or playing board games.</p>
        
      <br style="clear: both"/>
        
        
      <h3>Meet Bria Strothers, Octavia Project Program Coordinator.</h3>
        
           <img class="bio" src="{{ site.url }}/assets/img/photos/ray.jpg">
        
      <p>Bria Strothers is a writer, spoken word artist, performer, DJ and educator based in New Jersey. After graduating 
          from George Mason University in 2016, Bria went on to begin her teaching career in New Orleans, LA where she 
          taught middle school English and reading intervention. Upon relocating, she has been attending Pratt Institute 
          where she will obtain her MFA in Creative Writing in May of 2020. She is currently a teaching artist for the 
          New York metropolitan area and when she is not working with the Octavia Project, she is completing her first 
          manuscript involving an intersection between Black speculative fiction, folklore and DJ performance. You may 
          find some of her work published in Apparition Literary Magazine and The Felt. She is also a Cancer sun, an 
          avid manga reader and anime enthusiast.</p>

      <br style="clear: both"/>
        
     <img class="bio" src="{{ site.url }}/assets/img/photos/ray.jpg">

      <h3>Meet ray ferreira, Octavia Project Curriculum Consultant.</h3>
        
        <p>w h e n a m i blaqlatinx from occupied Lenape lands called New York, N Y: the illegitimate EEUU. 
            An o t the r Corona, Queens a spacetimemattering a materialdiscusive (dis) continuity: [the Caribbean, 
            the Greater Antilles, Hispañola, the Dominican Republic —> Corona, Queens] : history.</p>

        <p>ray ferreira b.1991 w h e n a m i a performer of sorts aka multidisciplinary artist aka polymath. She stays 
            playin   : the dance between materiality<->language through her body w h e n a m i  where histories are made 
            and remade. She plays with iridescence, text, rhythms (aka systems), to cruise a quantum poetics. Englishes, 
            Spanishes, and other body languages spiral, dance, and twirl to create a banj criticality: that turnup w/the 
            grls; that swerve past white cishet patriarchy. wh e n ami</p>

        <p>She can be located museum educating at the Studio Museum in Harlem, as well as floating through other museum 
            education departments. In addition, she lead teaches at the Octavia Project, and freelances for various artists. 
            w h e nam i Other intersections of space|time|matter residencies at the Institute for Electronic Arts and EmergeNYC, 
            performances at the Segue reading series, Dixon Place, and La MaMa, slightly different performances at the Queens 
            Museum of Art, and differently different in Femmescapes: Vol 2. whenami She has performed two durational performances 
            to obtain an expensive pieces of paper: a BA in Studio Art from SUNY Geneseo, and an MFA in Combined Media from CUNY 
            Hunter College.</p>
        
     <br style="clear: both"/>
           
      <img class="bio" src="{{ site.url }}/assets/img/photos/chana.jpg">

      <h3>Meet Chana Porter, Octavia Project co-founder.</h3>
        
      <p>Chana is a writer and teacher living in Brooklyn. Her plays and performance pieces 
          have been developed or produced at Playwrights Horizons, La MaMa, Cloud City, 3LD, 
          Rattlestick Playwright’s Theatre, Cherry Lane, The Invisible Dog, Primary Stages, Movement 
          Research, PS122, The Tank, and The White Bear in London. She is currently working on two 
          speculative fiction novels, SEEP and THE THICK AND THE LEAN. She has been a guest teaching 
          artist at Fordam University, Sarah Lawrence, Hampshire College, and Weber State University. 
          She is a MacDowell Fellow and a recent nominee for the Susan Smith BlackBurn Prize in Playwriting.  
          <a target="blank" href="http://www.chanaporter.com">www.chanaporter.com</a></p>

      <br style="clear: both"/>
      <br>
      
       <h3 id="AB">Meet our Advisory Board, a coalition of dedicated professionals who donate their time to ensure 
       the success of our mission.</h3>
       
        <p><b>Emmy Catedral</b> is a Butuan born artist and writer who makes objects, rooms, books and performances. 
            She sometimes presents work as The Amateur Astronomers Society of Voorhees, or The Explorers Club of Enrique 
            de Malacca. Emmy is also co-founder of the mobile Pilipinx American Library, and is the Fairs & Editions 
            Coordinator for Printed Matter, Inc.</p>
        
        <p><b>Laura Cheung</b> is a lifelong lover of books and as a child was frequently found under the dining room 
           table reading. As Manager, Creative Services for Penguin Young Readers, Laura works with the cover design 
           team and the marketing design team on project management and workflow. She is also a member of the Penguin 
           Random House Diversity Council, working to amplify underrepresented voices in books. A graduate of Bard College 
           at Simon's Rock (BA) and the New School for Social Research (MA), and having worked at NGOs such as the Global 
           Justice Center and Girls Write Now, the Octavia Project's mission sits squarely at the intersection of Laura's 
           interests in literacy, empowerment, and empathetic justice. Laura lives in Brooklyn with her husband and a dog 
            named Rosie Donut.</p>
        
        <p><b>Rocío Cuevas</b> is a writer, lover of Latinx culture, and advocate of women's empowerment. She currently works as an 
            Administrative Associate at STEM From Dance, where she manages donor cultivation, marketing strategies, and operational 
            tasks. Prior to working at STEM From Dance, Rocío worked as an Administrative Coordinator at CUNY Start, a program that 
            assists college students in reducing their remedial needs. Rocío also worked as Senior Writer for Brooklyn Savvy, a 
            television talk show based in Brooklyn, where a panel of professional women discuss a variety of topics. Rocío hopes 
            to use her writing to create a platform where women of color feel validated, safe, and inspired. She holds a B.A in 
            Psychology from New York University, with minors in Creative Writing and Child & Adolescent Mental Health Studies.  
            Rocío is a Dominican woman born and raised in Brooklyn, currently residing in Queens, NY. In her spare time she enjoys 
            listening to podcasts, and watching CW TV shows.</p>
        
        <p><b>Katharine Duckett</b> is a speculative writer whose short fiction has appeared or is forthcoming in <i>Uncanny</i>, 
            <i>PseudoPod</i>, <i>Apex</i>, <i>Interzone</i>, and various anthologies, including <i>Sharp & Sugar Tooth: Women Up 
            to No Good</i>. Her debut book, <i>Miranda in Milan</i>, will publish in February 2019. Katharine is also the publicity 
            manager for Tor.com Publishing, a line of science fiction and fantasy titles that includes award-winning work by Nnedi 
            Okorafor, Malka Older, and Seanan McGuire. Katharine is a graduate of Hampshire College and the SFF workshop Viable 
            Paradise, and taught English with the Peace Corps in Kazakhstan after college. She lives in Brooklyn with her wife.</p>
       
       <p><b>Andrea Gabbidon-Levene</b>, is the program coordinator of the CUNY Start Program at Borough of 
       Manhattan Community College where she oversees two college transition programs. Her past experience 
       includes corporate and foundation relationships officer at The Urban Assembly and the senior manager 
       of national development at the Association of Community Organizations for Reform Now. Andrea previously 
       served on the program advisory board for Girls Write Now. Andrea started her career as a journalist and has been 
       published in the <i>Boston Globe</i>, <i>New Jersey Herald</i> and was a CampusVipe reporter for CNN.com 
       during the 2004 presidential election. Andrea has a B.S. in Print Journalism from Emerson College and a 
       M.S. in Urban Policy and Management from the New School. A native of Long Island, Andrea is the daughter 
       of two Jamaican immigrants. She resides in Brooklyn.</p>
       
       <p><b>Tyler Hoyt</b> is a research scientist, programmer, musician, and dancer. He is currently working 
       in the departments of Environmental Design and Computer Science at the University of California at Berkeley, 
       engaged in research to promote occupant-centric, energy efficient design. By impacting building standards and 
       creating computational tools that help designers, educators, students, and researchers, he hopes to reduce the 
       environmental impact of buildings while enabling the design of comfortable spaces. Before working at Berkeley, 
       he earned a B.S. in Mathematics from UMass Amherst in 2006 and an M.S. in Mathematics at New York University in 
       2008. Outside of his academic work, Tyler is an avid dancer and musician, and loves to explore ways that mathematics 
       and computing can be used in the arts as well as science. Known to make websites on occasion.</p>
       
       <p><b>Daphne Lundi</b> is a Senior Policy Advisor with the NYC Mayor’s Office of Recovery and Resiliency. 
           Prior to that she was an urban planner at the NYC Department of City Planning focused on climate resilience and 
           neighborhood planning. She was also an Environmental Planning Specialist for Pinchina Consulting where she worked 
           on agroforestry and reforestation studies for a community-led planning project in Petit Goave, Haiti. Originally 
           from Brooklyn New York, Daphne earned a B.A. in Sociology with a focus in Urban Studies from Wellesley College 
           and a an M.S. in Community and Regional Planning with from the University of Texas at Austin. A self-taught garment 
           maker, Daphne is also interested in clothing construction and design.</p>
        
        <p><b>Stephanie Mendoza</b> grew up telling everyone she knew she wanted to work in publishing. Originally from 
            San Antonio, after graduating from university in Texas, she earned her MA in Publishing & Writing from Emerson 
            College, and now works as a book publicist in NYC. She handles the publicity for a wide variety of genres, 
            specializing in literary fiction and serious nonfiction, and loves introducing amazing fiction by debut authors 
            to new audiences, talking up the novels of sophomore authors she loves, and bringing to light conversation-shifting 
            nonfiction with the power to enlighten and better the world. She spends her days chatting with authors, doing her 
            best to keep up with contemporary fiction, attending bookstore events and literary functions, and hanging out with 
            her roommate's dog, Lucy.</p>
        
        <p><b>Sunaina Rao</b> is an educator and a life-long book lover. She works as the Community Relationships Director 
            at Trail Blazers and earned her Masters Degree from The New School in 2016. She has worked with youth throughout 
            her career starting with her time as a karate instructor and including two AmeriCorps years. With a background 
            in Anthropology and Nonprofit Management, Sunaina seeks to encourage people-focused practices that acknowledge 
            cultural differences and respect indigenous knowledge. Though she has read many important novels and texts in 
            her years as an academic and and educator, she will always remember where she came from; her Nancy Drew and 
            Fright Night books are perhaps the most important parts of her bookshelf.</p>
       
       <p><b>Aviva Rubin</b> works in multiple realms of architecture, including design, curation, education, and 
       research. Currently, she is an Exhibition Design Associate at the Solomon R. Guggenheim Museum. She has previously 
       practiced at Lynch/Eisinger/Design in New York, researched for exhibitions at SFMOMA, and taught at Harvard’s 
       Career Discovery and Boston Architectural College. With a Bachelor of Architecture from Carnegie Mellon University 
       (2007) and a Master of Design Studies from Harvard’s Graduate School of Design (2012), she believes that research 
       can push design towards a more integrated approach to the production of space. In all of her work, she aims to merge 
       the social and the architectural.</p>
       
       <p><b>Jessica Wells-Hasan</b> has nearly 15 years of experience in fundraising, management, external relations, 
       and operations at leading New York City non-profits. She has secured millions of dollars of new and increased 
       funding for effective organizations working in social justice, education, youth development, the arts, and the 
       environment, including at Barnard College, The Juilliard School, Theatre Development Fund, the National Audubon 
       Society, and Girls Write Now.  Jessica is active at her alma mater, Barnard College, has served on the Advisory 
       Board of EarthShare New York, joined the Harry Potter Alliance as an Advisor, and in 2015 joined the Octavia Project 
       as a Board Member. A writer since childhood, she is currently working on a biography of her grandfather, an 
       environmentalist and architect.</p>
       
        
       
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

    </div>

{% include footer.html %}

