---
---
{% include header.html %}

    <img class="bio" src="{{ site.url }}/assets/img/photos/sculpting.jpg">

    <div class="about">
      <p>The Octavia Project uses girls’ passion in science fiction, fantasy, fan-fiction, and gaming to teach them skills 
      in science, technology, art, and writing, equipping them with skills to dream and build new futures for themselves 
      and their communities.</p>

      <p>Brooklyn girls, ages 12-17, participate in our free summer program. Workshops tap into emotional connection 
      and personal expression while building 21st century skills. Art and writing workshops integrate science and tech, 
      focusing on creativity, innovation, communication, and critical thinking, while exploring programming, engineering, 
      and digital and media literacy. Girls have access to women working in science, tech, arts, and humanities, 
      internship and online publishing opportunities, and college-aged mentors.</p> 

      <p>Our inspiration and namesake is Octavia E. Butler, who <a target="_blank" 
      href="http://www.nytimes.com/2001/04/29/books/science-fiction.html"> broke barriers in writing and science fiction</a> to 
      become an award-winning and internationally recognized author (<i>Kindred, Lilith's Brood</i>). We are inspired by her 
      visions of possible futures and commitment to social justice.</p>

      <br>
      
      <h1>Impact</h1>
      
      <p>Science fiction and fantasy can be used to imagine new ways of living and new futures. But girls of color and 
      immigrant girls rarely see themselves in the futures they read about in popular science fiction and fantasy.  The 
      Octavia Project will expose girls from under-served neighborhoods to sci-fi and fantasy that includes them, and will 
      give them the space and resources to imagine and build alternative futures for themselves and their communities. 
      With our program, girls will be encouraged to dream big while being empowered with skills to design their own futures.</p>
      
      <p>Additionally, the Octavia Project uses girls’ own interest in science fiction to unlock their passion for science, 
      technology, engineering, and math BEFORE they internalize the familiar narrative of “I’m not a math person” or 
      “Science just isn’t my thing”.</p>
      
      <p>Why? Because a majority of students who enter high school excited about science, technology, engineering and 
      math (STEM), <a target="_blank" 
      href="https://www.stemconnector.org/sites/default/files/store/STEM-Students-STEM-Jobs-Executive-Summary.pdf"> 
      leave school uninterested in these subjects</a>. Because girls and students from low-income homes are 
      significantly less likely to be engaged in STEM as they grow older, thanks to unequal access and biased norms.</p>

      <p>The Octavia Project offers dynamic programming that connects skill-building in science and tech with 
      girls’ personal interests and hobbies, forging a safe space for teenage girls to learn through joy and creation. 
      Our girls will gain allies, resources, and a relationship to life-long learning. Additionally, through internships 
      or job mentorships, they'll gain connections, experience, and 21st century skills that enable them to thrive in 
      school and in life. Read more about our connections to the tech, publishing, arts, and education fields through our 
      <a href="#AB">advisory board</a>.</p>

      <br>
      
      <h1>Partners</h1>

      <p>The Octavia Project is proud to partner with Seven Stories Press, who supports the Octavia Project as part 
      of their dual commitment to promoting <a target="_blank" href="http://www.sevenstories.com"> works of the 
      imagination and voices of conscience</a>.</p>

      <br>
      
      <h1>Leadership</h1>

      <img class="bio" src="{{ site.url }}/assets/img/photos/meghan.png">

      <h3>Meet Meghan, Octavia Project co-founder and director.</h3>

      <p>Meghan McNamara is a teacher and organizer living in Brooklyn, NY. Previously, Meghan 
      was director of programs at Girls Write Now, a nationally-recognized writing and mentoring 
      program for underserved NYC high school girls. Under Meghan's leadership Girls Write Now 
      more than doubled the number of girls served and developed and led a new digital-
      writing and mentoring program in partnership with The New School.</p>

      <p>Meghan currently teaches science and writing to adults pursuing their high school 
      equivalency diplomas in Bronx, NY. In this capacity she developed and taught a year-long 
      course that used Rebecca Skloot’s <i>The Immortal Life of Henrietta Lacks</i> to build 
      science literacy and confidence in STEM skills in women adult learners, which she has 
      presented on at national and regional conferences. Meghan also teaches video game design 
      at an all-girls middle school in Brooklyn.</p>

      <br style="clear: both"/>

      <img class="bio" src="{{ site.url }}/assets/img/photos/chana.jpg">

      <h3>Meet Chana, Octavia Project co-founder and artist-in-residence.</h3>

      <p>Chana Porter is a writer and teacher living in Bed-Stuy, Brooklyn. Her plays and 
      performance pieces have been developed and produced at Cloud City, 3LD, Rattlestick 
      Playwright’s Theatre, Cherry Lane, The Invisible Dog, Primary Stages, Movement Research, 
      PS122, and The White Bear in London. She has been an Artist-In-Residence at Space On White, 
      CAVE, and Dixon Place. She has been a guest teaching artist at Hampshire College, Weber 
      State, Worcester Polytech, and Think Tank, a science and art learning center for teens. 
      She is currently writing a series of science fiction novels, POST HUMAN CLASSICS.</p>
      
      <p>Upcoming: 'PHATASMAGORIA or the Market of Ghosts', at La MaMa, October 2016.</p>

      <p>Chana graduated from Hampshire College with a degree in Theatre for Social Change in 
      2006. Masters in Playwriting with Honors: University of Exeter, UK, 2008. MFA in Creative 
      Writing from Goddard College.</p>

      <br style="clear: both"/>

      <img class="bio" src="{{ site.url }}/assets/img/photos/chandanie.jpg">

      <h3>Meet Chandanie, Octavia Project teaching-artist mentor.</h3>

      <p>Chandanie Hiralal is a young fantasy writer who hopes to make it big one day so she can use the 
      money she makes to help fuel organizations against animal cruelty (and adopt a fully vegan diet) 
      as well as movements for women’s equality, environmental conservation, and LGBTQIA rights.</p>

      <p>Chandanie published her first book of poems and short stories when she was 14. Currently she is 
      working on another book of poems and is looking to publish her first novel, <i>Moonrise in the 
      Darkness</i>. She’s a sophomore at CUNY Queens College with a major in English and minor in Business 
      in Liberal Arts. Chandanie has a wide range of interests, but in her spare time she enjoys playing 
      video games, watching anime, going on magical adventures with her boyfriend, and attuning herself 
      with the Universe; recognizing and becoming one with the stream of meaningful coincidences found in everyday life.</p>
      
      <br>
      
       <h3 id="AB">Meet our Advisory Board, a coalition of dedicated professionals who donate their time to ensure 
       the success of our mission.</h3>
       
       <p><b>Ian Dreiblatt</b> is a poet, translator, and publisher.  He is the author of <i>sonnets</i> 
       (Metambesen, 2014) and בראשונה (DoubleCross Press, 2015), and the translator of a number of books 
       including Nikolai Gogol's <i>The Nose</i> (Melville House, 2014), <i>Comradely Greetings</i> 
       (the prison correspondence of Pussy Riot's Nadezhda Tolokonnikova and philosopher Slavoj Žižek, 
       Verso Books, 2014), and parts of <i>Avant-Garde Museology</i> (e-flux, 2015).  He holds a JD from 
       the City University of New York and is the director of digital media at Melville House.</p>
       
       <p><b>Andrea Gabbidon-Levene</b>, is the program coordinator of the CUNY Start Program at Borough of 
       Manhattan Community College where she oversees two college transition programs. Her past experience 
       includes corporate and foundation relationships officer at The Urban Assembly and the senior manager 
       of national development at the Association of Community Organizations for Reform Now. Andrea previously 
       served on the program advisory board for Girls Write Now. Andrea started her career as a journalist and has been 
       published in the <i>Boston Globe</i>, <i>New Jersey Herald</i> and was a CampusVipe reporter for CNN.com 
       during the 2004 presidential election. Andrea has a B.S. in Print Journalism from Emerson College and a 
       M.S. in Urban Policy and Management from the New School. A native of Long Island, Andrea is the daughter 
       of two Jamaican immigrants. She resides in Brooklyn.</p>
       
       <p><b>Tyler Hoyt</b> is a research scientist, programmer, musician, and dancer. He is currently working 
       in the departments of Environmental Design and Computer Science at the University of California at Berkeley, 
       engaged in research to promote occupant-centric, energy efficient design. By impacting building standards and 
       creating computational tools that help designers, educators, students, and researchers, he hopes to reduce the 
       environmental impact of buildings while enabling the design of comfortable spaces. Before working at Berkeley, 
       he earned a B.S. in Mathematics from UMass Amherst in 2006 and an M.S. in Mathematics at New York University in 
       2008. Outside of his academic work, Tyler is an avid dancer and musician, and loves to explore ways that mathematics 
       and computing can be used in the arts as well as science. Known to make websites on occasion.</p>
       
       <p><b>Daphne Lundi</b> is an Urban Planner focusing on flood resiliency and climate adaptation planning. 
       She currently works at the NYC Department of City Planning in neighborhoods in southern Brooklyn that were impacted 
       by Hurricane Sandy. Before working for the Department of City Planning she was also an Environmental Planning 
       Specialist for Pinchina Consulting where she worked on agroforestry and reforestation studies for a community-led 
       planning project in Petit Goave, Haiti. Originally from Brooklyn New York, Daphne earned  a B.A. in Sociology with 
       a focus in Urban Studies from Wellesley College and a an M.S. in Community and Regional Planning with from the 
       University of Texas at Austin. A self-taught seamstress, Daphne is also interested in clothing construction and 
       design.</p>
       
       <p><b>Lauren Monroe</b> is the founder of Worcester Think Tank, an innovative educational center focused 
       on advanced learning in STEAM (science, technology, engineering, art and mathematics) disciplines. Lauren 
       opened the center in 2008 and resides as its director, and one of its resident science teachers. Before 
       launching her business Lauren enjoyed traveling and teaching in foreign and diverse environments. These 
       experiences include: teaching English in language schools in and around Tokyo; circumnavigating the globe 
       in a large charter ship with an educational project called Peaceboat; and working with a yoga retreat 
       program in Belize. These experiences along with her undergraduate and continuing education at UMASS Amherst 
       and other local universities in and around Worcester shaped Lauren’s desires and abilities to open and maintain 
       the successful business and educational center she has today. In addition to her work with Think Tank, Lauren 
       also enjoys practice in art and music, and is an award recipient of the 2014 Worcester Arts Council fellowship 
       in art and science installations.</p>
        
        <p><b>Sunaina Rao</b> is an educator and a life-long book lover. She works as the Community Relationships Director 
            at Trail Blazers and earned her Masters Degree from The New School in 2016. She has worked with youth throughout 
            her career starting with her time as a karate instructor and including two AmeriCorps years. With a background 
            in Anthropology and Nonprofit Management, Sunaina seeks to encourage people-focused practices that acknowledge 
            cultural differences and respect indigenous knowledge. Though she has read many important novels and texts in 
            her years as an academic and and educator, she will always remember where she came from; her Nancy Drew and 
            Fright Night books are perhaps the most important parts of her bookshelf.</p>
       
       <p><b>Aviva Rubin</b> works in multiple realms of architecture, including design, curation, education, and 
       research. Currently, she is an Exhibition Design Associate at the Solomon R. Guggenheim Museum. She has previously 
       practiced at Lynch/Eisinger/Design in New York, researched for exhibitions at SFMOMA, and taught at Harvard’s 
       Career Discovery and Boston Architectural College. With a Bachelor of Architecture from Carnegie Mellon University 
       (2007) and a Master of Design Studies from Harvard’s Graduate School of Design (2012), she believes that research 
       can push design towards a more integrated approach to the production of space. In all of her work, she aims to merge 
       the social and the architectural.</p>
       
       <p><b>Jessica Wells-Hasan</b> has nearly 15 years of experience in fundraising, management, external relations, 
       and operations at leading New York City non-profits. She has secured millions of dollars of new and increased 
       funding for effective organizations working in social justice, education, youth development, the arts, and the 
       environment, including at Barnard College, The Juilliard School, Theatre Development Fund, the National Audubon 
       Society, and Girls Write Now.  Jessica is active at her alma mater, Barnard College, has served on the Advisory 
       Board of EarthShare New York, joined the Harry Potter Alliance as an Advisor, and in 2015 joined the Octavia Project 
       as a Board Member. A writer since childhood, she is currently working on a biography of her grandfather, an 
       environmentalist and architect.</p>
       
       <br>
       
       <h3>And, meet our devoted volunteers, who help make it all possible.</h3>
       
       <p><b>Ximena Castillo</b> graduated with honors from Eugene Lang College for Liberal Arts in 2015, majoring in 
       Literary Studies and Creative Writing. An aspiring novelist in the fiction genre, Ximena spends much of her time 
       thinking of new ways to tell familiar stories. A self-proclaimed Trekkie, she gains much of her inspiration from 
       current events and hopes to build worlds and characters that readers can't help but fall in love with. When she 
       isn't struggling with the blank page, Ximena enjoys the finer things in life: napping, collecting figurings, a 
       glass a wine, and a new ball of yarn. In the past, Ximena has interned with and participated on the Youth Board 
       of Girls Write Now, a non-profit organization devoted to aiding teenage girls with a passion for writing. 
       Afterward, she spent time aiding the Octavia Project during their inaugural summer program. By day Ximena 
       spends her time juggling the hectic life of an administrative assistant, by night she... well she sleeps.</p>
       
       <p><b>Meagan Proctor Kavouras</b> is a writer and scholar living in South Slope, Brooklyn with her husband and an 
       ungodly amount of books. Her research focuses on fashion, feminism, and science fiction and particularly the ways 
       in which gender is created, negotiated, and performed through clothing and dress practices in speculative fiction. 
       Since receiving her master's in fashion studies from Parsons in 2013 Meagan has presented her research at academic 
       conferences across the country and plans to begin work on a PhD in English in the fall of 2016. In the meantime 
       she's working on an anthology of academic essays on fashion and science fiction, writing like a madwoman, and 
       watching a lot of <i>Adventure Time</i>.</p>
       
       <p><b>Alisha Levin</b> studied art history at New York University and is currently Associate Manager, Global 
       Communications at the Solomon R. Guggenheim Museum. Since joining the museum in 2010, she has worked on strategic 
       communications planning and digital projects for many of the museum’s international initiatives including the BMW 
       Guggenheim Lab, the Guggenheim UBS MAP Global Art Initiative, and the Guggenheim Helsinki Design Competition. A 
       lifelong science fiction lover, she is especially fascinated by the roles of art, design, and architecture in 
       sci-fi and fantasy.</p>
       
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

    </div>

{% include footer.html %}

