---
---
{% include blog_header.html %}

  {% for post in site.posts limit: 3 %}
  <div class="post">
    <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
    <h2 class="post-header">{{ post.date | date: "%-d %B %Y" }}</h2>
    <h3 class="post-header">{{ post.author }}</h3>
    <div>
      {{ post.content }}
    </div>
  </div>
  <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
  {% endfor %}

  <div class="post">
    <h2 class="post-header">Recent posts</h2>
    <ul class="recent-posts">
      {% for post in site.posts %}
      <li><span class="recent-post-date">{{ post.date | date: "%-d %B %Y" }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

{% include footer.html %}
