---
---
{% include header.html %}

    <div class="donate">
<iframe style="margin: 0 auto; display: block; padding-bottom: 2em;" width="480" height="360" 
src="https://www.youtube.com/embed/6gZnUlB0uz4?rel=0" frameborder="0" allowfullscreen></iframe>
      <br>
      
<div align="center">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NJDSHLP6AFE9C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<br>

    <p><b>Last summer, the Octavia Project provided nine young women from Brooklyn with new skills</b> in coding, electrical engineering, 
    writing, art, architecture, and more. Participants who completed the program walked away with an online digital portfolio 
    that can be used on college or internship applications, access to a network of women professionals, and greater confidence 
    in their own abilities.</p>
 
    <p><b>This summer, <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5HE2TAVXUV45Y">with your support</a>, 
    we’re offering this opportunity to nearly 50% more girls.</b> Girls who, like Tina, will have a life-changing summer.</p>
    <blockquote>
    <p>Last summer a thirteen-year-old girl, who we’ll call Tina, joined the Octavia Project on the last day of our first week 
    of workshops at the New Lots Library. An observant librarian had seen Tina coming to the library every day and he guided 
    her downstairs to join us. Tina was living at a shelter with her mom in East New York so the library was a daily refuge—a 
    place to hang with her friends, get online, and of course, borrow books. After her first day at the Octavia Project, Tina 
    never missed a workshop. Over the course of the month, she coded two online games, built maps and 3D models of her imaginary 
    city, carved block prints of alien plants, and crafted her own sci-fi world. At the second to last workshop, Tina started 
    making her own wearable electronic accessory based on a story she’d been writing. Tina was focused and committed, but sewing 
    circuits is difficult—if one tiny piece is incorrect, the circuit won’t function. Tina didn’t finish her accessory by the 
    end of the workshop. We’ll help you finish it tomorrow, we promised. But Tina didn’t want to wait. She took the unfinished 
    accessory and tools home with her. The next day, Tina came in wearing her accessory, lit up with the LEDs she had sewn into 
    it. She made it work, on her own, through a night of trial and error.</p> 

<p>Tina was already a smart and resourceful young teen when we met her. Tina was already interested in art and computers, with natural 
inclinations towards hard science and math. The Octavia Project gave her the support to embrace and express her interests and talents 
through the lens of science fiction. Over the summer Tina showed herself, her teachers, and her peers the power of her own determination, 
creativity, and ingenuity. Let’s be clear: The Octavia Project didn’t make Tina amazing. She did that all on her own. We gave Tina the 
space and tools to meet new challenges she was setting for herself.</p>

<p>Before the Octavia Project, Tina had never tried computer programming. She’d never written her own science fiction. While Tina reported 
that she had no interest in computer programming when she entered the program, she left with “a huge amount” of interest in the subject. 
Similarly, she reported only “a little” interest in electrical engineering before the Octavia Project, and “a huge amount” of interest 
afterwards.</p>

<p>And, most importantly, Tina had a really fun summer.</p>
</blockquote>
    
    </div>

{% include footer.html %}

