---
---
{% include header.html %}

    <div class="donate">
      <iframe style="margin: 0 auto; display: block; padding-bottom: 2em;" width="480" height="360" 
      src="https://www.youtube.com/embed/6gZnUlB0uz4?rel=0" frameborder="0" allowfullscreen></iframe>
      <h3>
          In order to keep this program 100% free for participants, we need to raise $12,000 by May 1.
      </h3>
      <p>
          If books have made you excited for the future, 
          <a href="https://www.indiegogo.com/projects/the-octavia-project/x/10156321"> 
          please consider donating to the Octaiva Project!</a> Your generous donation will cover costs such as:
    <ul>
        <li>Workshop space for one month</li>
        <li>Payment for teaching artists and stipends for guest speakers</li>
        <li>Production of a gallery showcase at the end of the summer</li>
        <li>Healthy snacks for the girls (brain food!)</li>
        <li>Computer software (InDesign, Photoshop, a Steam account loaded full of games)</li>
        <li>Art and tech materials (soldering irons, paint, LEDs, foam board, batteries)</li>
        <li>Liability insurance (boring but necessary!)</li>
    </ul>
      </p>
      <p>
          Each $1,000 we raise will underwrite one girl to participate in the Octavia Project for one month.   
      </p>
      <p>
          If you help us surpass our original $12,000 goal and hit our FIRST STRETCH GOAL of $16,000, we’ll expand 
          to have SIXTEEN workshops in our summer series–30% more workshop time for each girl!
      </p>
      <p>
            And, if we can meet our SECOND STRETCH GOAL of $30,000, we’ll be able to commit to a first AND second year 
      of the Octavia Project, as you’ll help pay for things like a professional grant writer to secure funding for 
      2016!!!
      </p>
      <p>
          Visit our IndieGoGo page to <a href="https://www.indiegogo.com/projects/the-octavia-project/x/10156321"> 
          make your contribution today</a>.
      </p>
      
      <br>
      
      <h3>And a huge thank you to everyone who has contirubuted already:</h3>
      <p><b>
          Danielle Alsop<br>
          Awkiser<br>
          Katherine & John Bayard<br>
          Beshagrey<br>
          James Boo<br>
          Eric Borlaug<br>
          Ella Boureau<br>
          Deb Chachra<br>
          Laura Cheung<br>
          Tom Cole<br>
          Emily Coppel<br>
          Brenda Davis<br>
          Alice Ecker<br>
          Maureen Flaherty<br>
          Louise Harrell Grant<br>
          Mackenzie Gregg<br>
          Adjua Greaves<br>
          Anna Gurton-Wachter<br>
          Arianne Hartsell-Gundy<br>
          David Hartunian<br>
          Rebecca Haverson<br>
          Reed & Lyn Hoyt<br>
          Esther Jang<br>
          Jcoyne.home<br>
          Jmonkiew<br>
          Alex Lencicki<br>
          Angela Mao<br>
          Catherine McGivney<br>
          Edna & Donald McNamara<br>
          Michael Milligan<br>
          Grace Moss<br>
          Lauren Naturale<br>
          Jenn Northington<br>
          Caitlin Osbahr<br>
          Julie Polk<br>
          Charity Pomaybo<br>
          Meagan Proctor<br>
          Queeche3<br>
          Alex Roussos<br>
          Anne, John & Juliana Ryan<br>
          Malya Schulman<br>
          Angelica Sgouros<br>
          Sarah Shapiro & Mike Davidson<br>
          Shoe.follower<br>
          Dana Shulman<br>
          Tiffany Stevens<br>
          Irina Varina<br>
          Tom Web<br>
          Jessica Wells-Hasan & Joseph Hasan<br>
          </b>
      </p>

    </div>

{% include footer.html %}

