---
---
{% include header.html %}

    <div class="donate">
      <iframe style="margin: 0 auto; display: block; padding-bottom: 2em;" width="480" height="360" 
      src="https://www.youtube.com/embed/6gZnUlB0uz4?rel=0" frameborder="0" allowfullscreen></iframe>

    
    <p>Last summer, the Octavia Project provided nine young women from Brooklyn with new skills in coding, electrical engineering, 
    writing, art, architecture, and more. Participants who completed the program walked away with an online digital portfolio 
    that can be used on college or internship applications, access to a network of women professionals, and greater confidence 
    in their own abilities.</p>
 
    <p>All participants who completed last summer’s program reported that they learned something new about coding and electrical 
    engineering. Two-thirds of participants reported that they were more interested in coding after participating in the program 
    than they were before the program.</p>
 
    <p>This summer, with your support, we’d like to offer this opportunity to nearly 70% more girls. 15 girls who, 
    like Tina, will have a life-changing summer. <a href="https://www.generosity.com/education-fundraising/octavia-project-2016">
    Read Tina’s story</a>.</p>
    
    <p>In order to make this happen, we need to raise $13,500 by May 15. We can't do this without your help. Help us send 15 girls
    from Brooklyn to <a href="https://www.generosity.com/education-fundraising/octavia-project-2016">science fiction summer camp</a>!</p>
    

    </div>

{% include footer.html %}

