---
---
{% include header.html %}

    <img class="bio" src="{{ site.url }}/assets/img/photos/Group_smiles.jpg"> 

    <div class="about" style="font-size: 1.2em;">
      
      <h1>Play our games!</h1>
        
      <p>We used the online test-based program Twine to create interactive stories! Play and enjoy! 
      If you don't like your outcome, you can always go back to the start and play again... </p>
      
      <p><a target="blank" href="octaviaproject.github.io/stories/Abbie A Walk Complete.html">A Walk</a><br>
      A Lost Father<br>
      MyStErIoUs MaN<br>
      Asha's Twinery Story<br>
      Labrinth Convoluted<br>
      Stockholm<br>
      Pray<br>
      Time Warp<br>
      Night Mentality<br>
      m<br>
      Brothers By Blood<br>
      Constellation<br>
      Mysterious Diamond<br>
      Doomsday<br>
      New Story<br>
      
      
      <p>Read more about us on <a target="blank" href="http://www.nydailynews.com/blogs/pageviews/octavia-project-empowers-teen-girls-science-fiction-blog-entry-1.2285161">
      Daily News</a>, <a target="blank" href="http://www.dnainfo.com/new-york/20150409/bed-stuy/workshops-use-sci-fi-fan-fiction-teach-girls-stem-writing-skills?utm_content=buffer83973&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      DNA Info.com</a>, <a target="blank" href="https://electricliterature.com/we-need-the-alternate-realities-living-inside-girls-of-color-from-brooklyn-dea308acb10">
      Electronic Lit</a>, <a target="blank" href="http://www.barnesandnoble.com/blog/sci-fi-fantasy/the-octavia-project-and-top-sff-recommendations-for-young-women/"> 
      Barnes & Noble blog</a>, and <a target="blank" href="http://www.huffingtonpost.com/meghan-mcnamara/what-science-fiction-can-_b_7268896.html?utm_content=buffer85c92&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      Huffington Post</a>.</p>
      
     
      
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}
