---
---
{% include header.html %}

    <img src="{{ site.url }}/assets/img/photos/twine.png" style="width: 100%"> 

    <div class="about" style="font-size: 1.2em;">
      
      <h1>Play our games!</h1>
        
      <p>We used the online test-based program Twine to create interactive stories! Play and enjoy! 
      If you don't like your outcome, you can always go back to the start and play again... </p>
      
      <p><a target="blank" href="octaviaproject.github.io/stories/Abbie A Walk Complete.html">A Walk</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Aleiyah- A Lost Father Complete.html">A Lost Father</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Asaua-MyStErIoUs MaN Complete.html">MyStErIoUs MaN</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Asha-s Twinery Story Complete.html">Asha's Twinery Story</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Brianna LC Complete.html">Labrinth Convoluted</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Britney-Stockholm-Complete.html">Stockholm</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/CHEYANN Pray Complete.html">Pray</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Jada-TimeWarp-Complete(ish).html">Time Warp</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Laila-Night Mentality-Complete.html">Night Mentality</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Madi-m-Complete(ish).html">m</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Nia-Brothers by Blood Complete.html">Brothers By Blood</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Sarah-Constellation Complete.html">Constellation</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Sierah mysterious diamond Complete.html">Mysterious Diamond</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/sky doomsday Complete.html">Doomsday</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Tiffany new story Complete(ish).html">New Story</a><br>
      
      
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}
