---
---
{% include header.html %}

    <img src="{{ site.url }}/assets/img/photos/twine.jpg"> 

    <div class="about" style="font-size: 1.2em;">
      
      <h1>Play our games!</h1>
        
      <p>We used the online test-based program Twine to create interactive stories! Play and enjoy! 
      If you don't like your outcome, you can always go back to the start and play again... </p>
      
      <p><a target="blank" href="octaviaproject.github.io/stories/Abbie A Walk Complete.html">A Walk</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Aleiyah- A Lost Father Complete.html">A Lost Father</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Asaua-MyStErIoUs MaN Complete.html">MyStErIoUs MaN</a><br>
      <a target="blank" href="octaviaproject.github.io/stories/Asha-s Twinery Story Complete.html">Asha's Twinery Story<br>
      Labrinth Convoluted<br>
      Stockholm<br>
      Pray<br>
      Time Warp<br>
      Night Mentality<br>
      m<br>
      Brothers By Blood<br>
      Constellation<br>
      Mysterious Diamond<br>
      Doomsday<br>
      New Story<br>
      
      
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}
