---
---
{% include header.html %}
      <div class="manifesto">
        <p>We use science fiction to encourage girls to dream big and empower them with 
        skills to design their own futures. Our free summer program gives teenage girls from 
        Brooklyn the space to explore science and tech through art and writing, growing their 
        confidence and building skills while dreaming new futures for themselves and 
        their communities. 
        
        <br> <a href="/about.html">Learn more.</a></p>
      </div>
      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#" data-slide-to="0" class="active"></li>
          <li data-target="#" data-slide-to="1"></li>
          <li data-target="#" data-slide-to="2"></li>
            <li data-target="#" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="/join.html"> 
                  <img src="{{ site.url }}/assets/img/photos/Ashley3.jpg">
            </a>
            <div class="carousel-caption">
              Apply before June 26 to participate in the Octavia Project this summer
            </div>
          </div>
          <div class="item">
            <a href="/donate.html">
              <img src="{{ site.url }}/assets/img/photos/NKJemison.png">
            </a>
            <div class="carousel-caption">
              Speculative fiction author N. K. Jemisin shares what inspired her to dream big
            </div>
          </div>
          <div class="item">
            <a href="/2015/03/23/Resistance-and-change-begin-in-art.html">
              <img src="{{ site.url }}/assets/img/photos/WizardEarthsea.jpg">
            </a>
            <div class="carousel-caption">
              Ursula K. Le Guin speaks about the importance of writers who can "see alternatives to how we live now"
            </div>
          </div>
          <div class="item">
            <a href="/about.html"> 
                  <img src="{{ site.url }}/assets/img/photos/Robotics4.png">
            </a>
            <div class="carousel-caption">
              Our workshops combine learning in science, tech, art, and writing
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
      <div class="row blog-preview">
          {% for post in site.posts limit:3 %}
          <div class="col-sm-4">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Continue reading ...</a>
          </div>
          {% endfor %}
        </ul>
      </div>
      
      <script>
        $('.carousel').carousel()
      </script>
{% include footer.html %}
