---
---
{% include header.html %}
      <div class="jumbotron manifesto">
        <p>We use science fiction to encourage young women and nonbinary youth to dream big and
              empower them with skills to build alternative futures. Our free Summer Institute
              provides Brooklyn teens with space to explore science and tech through art and writing,
              growing their confidence and skills while dreaming new futures for themselves and
              their communities. <a href="/about.html">Learn more.</a></p>
      </div>

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#" data-slide-to="0" class="active"></li>
          <li data-target="#" data-slide-to="1"></li>
          <li data-target="#" data-slide-to="2"></li>
          <li data-target="#" data-slide-to="3"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <div class="item active">
            <a href="/blog.html">
                  <img src="{{ site.url }}/assets/img/photos/Aleiyah_lg.jpg">
            </a>
            <div class="carousel-caption">
              Our Summer Institute 2018 round-up is here!
            </div>
          </div>

           <div class="item">
            <a href="http://portfolios.octaviaproject.org/">
                  <img src="{{ site.url }}/assets/img/photos/portfolios2018_lg.jpg">
            </a>
            <div class="carousel-caption">
              So many fresh Digital Portfolios from the OP Class of 2018!
            </div>
          </div>

            <div class="item">
            <a href="/about">
                  <img src="{{ site.url }}/assets/img/photos/cameras.jpg">
            </a>
            <div class="carousel-caption">
              Our workshops combine learning in science, tech, art and writing
            </div>
          </div>

           <div class="item">
            <a href="/support">
                  <img src="{{ site.url }}/assets/img/photos/full_group_banner.jpg">
            </a>
            <div class="carousel-caption">
              Help us build the future
            </div>
          </div>
        </div>


        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

      <div class="row blog-preview">
          {% for post in site.posts limit:3 %}
          <div class="col-sm-4">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Continue reading ...</a>
          </div>
          {% endfor %}
        </ul>
      </div>

      <script>
        $('.carousel').carousel()
      </script>
{% include footer.html %}
