---
---
{% include header.html %}

    <div class="about" style="font-size: 1.2em;">
      
      <h1>Apply now for summer 2015!</h1>
      
      <p>Octavia Project is a <b>free summer program</b> where young women from Brooklyn 
      explore their love of science fiction and fantasy through science, tech, art, and 
      writing.</p>
      
      <p>Our program is four weeks long, running from July 7 – July 31. Workshops are 
      Tuesdays-Fridays, 3pm-6pm, and are held at the New Lots Brooklyn Public Library.</p>
      
      <p><b>Please note:</b> we prioritize applications from girls living in East New York, 
      Brownsville, Canarsie, East Flatbush, Crown Heights, Bed Stuy, and Cypress Hills.</p>
      
      <br>
      
      <h3>An Octavia Project participant will finish the program armed with:</h3>

      <ul>
        <li>An online multi-media portfolio of their work that can be used for college, job, 
    or internship applications.</li>
        <li>Strengthened skills in science, technology, engineering, and math (STEM) as well 
    as digital-media, art, and writing.</li>
        <li>Access to a network of professional women and opportunities for internships in their 
    chosen field.</li>
      </ul>
      
        <br>
      <h3>Octavia Project Participants are:</h3>
      
      <ul>
        <li>Young women* from Brooklyn who are going to be in grades 9, 10, 11, or 12 in the 
    2015-2016 school year. (*Octavia Project welcomes participants who are trans, gender 
    non-conforming, and questioning.)</li>
        <li>Available to attend 3-hour long workshops, Tuesdays through Fridays, from July 7-July 31.</li>
        <li>Into science fiction, fantasy, fan-fiction, art, writing, science, tech, gaming—or 
    interested in learning more about these topics!</li>
        <li>Willing to try new things, boldly go where we haven't gone before, 
    and share knowledge with others.</li>
      </ul>
      
      <br>
      <h3>To apply:</h3>
      <p><b>Step 1:</b> Sign up for an information session. <i>Information session dates will be 
      added soon.</i></p>
      <p><b>Step 2:</b> Download and fill out an application. You can email your completed 
      application to <i>apply [at] octaviaproject.org</i>, or you can bring your filled out application 
      to your info session. <i>Applicaitons will be available to download soon.</i></p>
      <p><b>Step 3:</b> Attend the information session you signed up for. You will learn more about the 
      program, and then we will meet with each applicant individually to review her application. 
      Please feel free to bring a parent/ guardian with you!</p>
    </div>
{% include footer.html %}

