---
---
{% include header.html %}

    <img class="bio" src="{{ site.url }}/assets/img/photos/join2019.jpg">       

    <div class="about" style="font-size: 1.2em;">
                      
        <h1>Apply now for summer 2019!</h1>
        
        <p><h3>The Octavia Project Summer Institute</h3> is a FREE month-long program
         where young women and trans, nonbinary, or gender non-conforming youth 
        from Brooklyn explore their love of science fiction and fantasy through art, writing, 
            science, and tech projects with a community of creatively-minded peers.</p>
      
      <p>Our Summer Institute runs from July 2 - August 2. We meet four days a week--Tuesdays, 
          Wednesdays, Thursdays, and Fridays--from 1pm-4:30pm. Workshops are held at the 
          <b>Pratt Institute MFA in Writing Community Space</b>, on Classon Avenue in Brooklyn.</p>
      
      <p><b><i>We encourage youth living in the nearby neighborhoods of Bed Stuy, Bushwick, 
          Fort Greene, and Crown Heights to apply.</i></b> We provide MetroCards to 
      participants to cover travel to and from all workshops.</p>
      
      <p>Read more about us on <a target="blank" href="http://www.nydailynews.com/blogs/pageviews/octavia-project-empowers-teen-girls-science-fiction-blog-entry-1.2285161">
      Daily News</a>, <a target="blank" href="http://www.dnainfo.com/new-york/20150409/bed-stuy/workshops-use-sci-fi-fan-fiction-teach-girls-stem-writing-skills?utm_content=buffer83973&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      DNA Info.com</a>, <a target="blank" href="https://electricliterature.com/we-need-the-alternate-realities-living-inside-girls-of-color-from-brooklyn-dea308acb10">
      Electronic Lit</a>, <a target="blank" href="http://www.barnesandnoble.com/blog/sci-fi-fantasy/the-octavia-project-and-top-sff-recommendations-for-young-women/"> 
      Barnes & Noble blog</a>, and <a target="blank" href="http://www.huffingtonpost.com/meghan-mcnamara/what-science-fiction-can-_b_7268896.html?utm_content=buffer85c92&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      Huffington Post</a>.</p><br>
      
      <h3>An Octavia Project participant will finish the program armed with:</h3>

      <ul>
        <li>An online multi-media portfolio of their work that can be used for college, job, 
    or internship applications.</li>
        <li>Strengthened skills in digital-media, art, and writing, as well as a greater 
        confidence in science, technology, engineering, and math (STEM).</li>
        <li>Access to a network of professional women and opportunities for fellowships and 
            other leadership positions.</li>
      </ul>
      
        <br>
      <h3>Octavia Project Participants are:</h3>
      
      <ul>
        <li>Young women and trans, nonbinary, and/or gender non-conforming youth from Brooklyn who 
            are 14 to 18 years old.</li>
        <li>Available to attend workshops four days a week, from 1-4:30pm, July 2 - August 2.</li>
        <li>Into science fiction, fantasy, fan-fiction, art, writing, science, tech, gaming—or 
    interested in learning more about these topics!</li>
      </ul>
      
      <br>
      <h3>To apply:</h3>
<p><b>Step 1:</b> Download and complete an application. A completed application includes answers
    to all questions and a parent/guardian signature in TWO places.</p>
<ul>
    <li><a href="/assets/OP Application for Summer 2019.docx">Download the application as a word doc.</a></li>
<li><a href="/assets/OP Application for Summer 2019.pdf">Download the application as a pdf.</a></li>
    
          
</ul>
    <br>

<p><b>Step 2:</b> Submit your application. We're currently accepting applications, on a rolling basis, 
    until <b>May 31st</b>.</p> 
    <p>Email completed applications to <u>enrollment [at] octaviaproject.org</u>. Or, mail completed 
        applications to: <u> Octavia Project, PO Box 381031, Brooklyn, NY 11238</u>.</p>
    <br>

<p>Download our flyer <a href="/assets/OP Flyer for Summer 2019.pdf">in color</a> or 
    <a href="/assets/OP Flyer Summer 2019_bw.pdf">in black and white</a>.</p>
          
      <br>
      <h3>Questions?</h3>
      <p>Email us at <i>enrollment [at] octaviaproject.org</i>.</p>

    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}

