---
---
{% include header.html %}

    <img class="bio" src="{{ site.url }}/assets/img/photos/Group_silly.jpg"> 

    <div class="about" style="font-size: 1.2em;">
                      
        <p><h3>The Octavia Project Summer Institute</h3> is a FREE month-long program
         where young women and trans, nonbinary, or gender non-conforming youth 
        from Brooklyn explore their love of science fiction and fantasy through art, writing, 
            science, and tech projects with a community of creatively-minded peers.</p>
      
      <p>Our Summer Institute runs from July 5 - August 3 with Orientation on July 3. We meet 
      four days a week--Tuesdays, Wednesdays, Thursdays, and Fridays--from 1pm-4:30pm. 
          Workshops are held at the <b>Pratt Institute MFA in Writing Community Space</b>, on
          Classon Avenue in Brooklyn.</p>
      
      <p><b><i>We encourage youth living in the nearby neighborhoods of Bed Stuy, Bushwick, 
          Fort Greene, and Crown Heights to apply.</i></b> We provide MetroCards to 
      participants to cover travel to and from all workshops.</p>
      
      <p>Read more about us on <a target="blank" href="http://www.nydailynews.com/blogs/pageviews/octavia-project-empowers-teen-girls-science-fiction-blog-entry-1.2285161">
      Daily News</a>, <a target="blank" href="http://www.dnainfo.com/new-york/20150409/bed-stuy/workshops-use-sci-fi-fan-fiction-teach-girls-stem-writing-skills?utm_content=buffer83973&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      DNA Info.com</a>, <a target="blank" href="https://electricliterature.com/we-need-the-alternate-realities-living-inside-girls-of-color-from-brooklyn-dea308acb10">
      Electronic Lit</a>, <a target="blank" href="http://www.barnesandnoble.com/blog/sci-fi-fantasy/the-octavia-project-and-top-sff-recommendations-for-young-women/"> 
      Barnes & Noble blog</a>, and <a target="blank" href="http://www.huffingtonpost.com/meghan-mcnamara/what-science-fiction-can-_b_7268896.html?utm_content=buffer85c92&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer"> 
      Huffington Post</a>.</p><br>
      
      <h3>An Octavia Project participant will finish the program armed with:</h3>

      <ul>
        <li>A digital portfolio of their work that can be used for college, job, 
    or internship applications.</li>
        <li>Strengthened skills in digital technologies, art, and writing, as well as a greater 
        confidence in science, technology, engineering, and math (STEM).</li>
        <li>Access to a network of professional women and opportunities for fellowships and 
            other leadership positions.</li>
      </ul>
      
        <br>
      <h3>Octavia Project Participants are:</h3>
      
      <ul>
        <li>Young women and trans, nonbinary, or gender non-conforming youth from Brooklyn who 
            are 13 to 17 years old.</li>
        <li>Available to attend workshops four days a week, from 1-4:30pm, July 5 - August 3, 
            and an orientation on July 3.</li>
        <li>Into science fiction, fantasy, fan-fiction, art, writing, science, tech, gaming—or 
    interested in learning more about these topics!</li>
        <li>Willing to try new things, boldly go where we haven't gone before, and share 
        knowledge with others.</li>
      </ul>
      
      <br>
      <h3>To apply:</h3>
            <p><b>Please note: Our application deadline has passed, but you can still submit an 
                application to be added to our waitlist.</b></p>
            <p><b>Step 1:</b> Download and complete an application. A completed application 
            includes answers to all questions and a parent/guardian signature in TWO places.</p>
        <ul>
            <li><a href="http://octaviaproject.org/assets/OP Application for Summer 2018.docx">Download the application as a word doc.</a></li>
            <li><a href="http://octaviaproject.org/assets/OP Application for Summer 2018.pdf">Download the application as a pdf.</a></li>
</ul><br>

        <p><b>Step 2:</b> Submit your application. <u><i>Our final application deadline has been 
            extended to <br>June 8</i></u>. Email completed applications to:<br>
            <b>info [at] octaviaproject.org</b> <br>
            Or, mail completed applications to:<br>
            <b>Octavia Project, PO Box 381031, Brooklyn, NY 11238</b><br>
     <br>
            <p><a href="http://octaviaproject.org/assets/Octavia_Project_Flyer_Summer_2018.pdf">Download a sharable flyer here.</a></p>

      <br>
      <h3>Questions?</h3>
      <p>Email us at <i>info [at] octaviaproject.org</i>.</p>

    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}

