---
---
{% include header.html %}
    <img src="{{ site.url }}/assets/img/photos/OctaviaHeader_Nia.png" class="donate-img">
    <div class="support">    
    
        <p>The Octavia Project offers unique programming that builds confidence and community—but our 
            participants put it best:</p>

<h2>"I’ve definitely become more of a leader this summer.”<br>
             – Octavia Project Fellow</h2>
        
<h2>“I like being a female nerd in the world. I like the fact that the <br>
    Octavia Project is a group for all different and unique types of people.” <br>
    – Aleiyah, 16, Octavia Project Fellow</h2><br>

    <p>This summer, we’ll be growing our program to accept 20 students.</p>

<p>Help us raise $11,000 by March 28 so that more teens like Aleiyah and Nia can benefit from our 
    immersive Summer Institute.</p>
<script src='//artfully-herokuapp-com.global.ssl.fastly.net/assets/artfully-v3.js' type='text/javascript'></script>
<link href='//artfully-herokuapp-com.global.ssl.fastly.net/assets/themes/default.css' media='screen' rel='stylesheet' type='text/css'>
<script type='text/javascript'>
  jQuery(document).ready(function(){
    artfully.widgets.cart();
    
    artfully.widgets.donation().display(5990,[]);
    artfully.widgets.cart().display();
  });
</script>      
<div align="center">
    <div id='donation'></div>
</div>
<br>
 
<p><i>The Octavia Project is a sponsored project of Fractured Atlas, a non-profit arts service 
    organization. Contributions for the charitable purposes of Octavia Project must be made 
    payable to “Fractured Atlas” only and are tax-deductible to the extent permitted by law.</i></p>

    <p>Thank you for making this program possible—we couldn’t do it without you!</p>
     
        
       <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
        
    </div>

{% include footer.html %}

