---
---
{% include header.html %}

    <div class="support">

   <img class="bio" src="{{ site.url }}/assets/img/photos/Group_silly.jpg">    
    
    <p><b>We have some exciting news to share:</b> Our summer 2017 program has been fully sponsored by 
        <a target="_blank" href="http://vandermeercreative.com/">VanderMeer Creative</a>, a project of 
        editor Ann VanderMeer and author Jeff VanderMeer.</p>
        
    <p>With our 2017 program funded, plans are already underway to enroll more participants, update and 
            improve our curriculum, and grow our cohort of teachers and guest teachers. <b>We know that 
            empowering young women is more important today than ever.</b>
            
    <p>In these uncertain times, we find comfort in knowing that Ann and Jeff's generosity has enabled 
       us to get a valuable jump on planning for this summer and future summers. <b>Join the support.</b> 
       Help the Octavia Project make a lasting impact not only this summer, but 
       for summers to come.</p>
      
<div align="center">
    <a href="https://www.fracturedatlas.org/site/fiscal/profile?id=14155">
        <button id="donate-button">Donate</button>
    </a>
</div>
<br>
 
    <p>Along with sponsorship of our 2017 summer program, VanderMeer Creative is offering an all-expenses-paid 
        scholarship, including air travel, for one 2017 Octavia Project participant to attend the summer writing 
        intensive Shared Worlds, at Wofford College in South Carolina, in 2018.</p> 
        
        <p>Read more about the <a href="octaviaproject.github.io/assets/VanderMeer_Creative_Sponsors_the_Octavia_Project.pdf">
            VanderMeer Creative sponsorship</a> and Shared Worlds scholarship in our press release. 
            We are thrilled to have the support of such an incredible organization.</p>
     
    <p><i>Octavia Project is a sponsored project of Fractured Atlas, a non‐profit arts service organization. 
        Contributions for the charitable purposes of Octavia Project must be made payable to “Fractured Atlas”
        and are tax‐deductible to the extent permitted by law.</i></p>
        
       <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
        
    </div>

{% include footer.html %}

