---
---
{% include header.html %}
    <img src="{{ site.url }}/assets/img/photos/OP_appealemail-1.jpg" class="donate-img">
      
    <div align="center">
        <a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">
            <button id="donate-button">Donate!</button>
        </a>
    </div>
    <div class="support">

        <center>
        <p>Three years ago, Abbie was a shy teen interested in science and writing. After hands-on 
            workshops with architects, biologists, and urban planners, Abbie grabbed the opportunity 
            to become an Octavia Project Fellow, where she grew her mentoring skills by building a 
            deep and supportive community for her Octavia Project peers.</p>

<h2>- - -<br><br>
    “Being a Fellow was a great way for me to gain my confidence back when I felt like I didn’t have 
    any. It gave me a learning experience and a new home.”<br><br>
    - - -</h2><br>

    <p><a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">Your donation</a> helps teens like Abbie learn new skills and flex her leadership muscles. She’s 
        now a seasoned Fellow, fostering a home for others to build and create beyond their wildest 
        dreams. Help us raise <b>$20,000 by March 20</b> so our participants can be the creative, empowered leaders we 
        all need.</p>
<br>

            <p><i><b>The Octavia Project</b> is a sponsored project of Fractured Atlas, a non-profit arts service organization. 
                Contributions for the charitable purposes of The Octavia Project must be made payable to “Fractured Atlas” only 
                and are tax-deductible to the extent permitted by law.</i></p>
            <br>

    <p>Thank you for making this program possible—we couldn’t do it without you!</p>
        </center>

        <h2>- - -</h2>

    </div>

{% include footer.html %}

