---
---
{% include header.html %}
    <img src="{{ site.url }}/assets/img/photos/OctaviaHeader_Aleiyah.jpg" class="donate-img">
    <div align="center">
        <a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">
            <button id="donate-button">Donate</button>
        </a>
    </div>
    <div class="support">

        <p>For the past four summers we have provided Brooklyn teens with
            an empowering community and enriching confidence-building workshops. Our
            participants put it best:</p>

<h2>“I’m very shy, and it’s totally okay to be shy <br>
    because the girls at the Octavia Project won’t judge you or criticize you<br>
    and are very supportive.”<br>
    – Nia, 16</h2><br>

<h2>"I always like to test my writing and art on different wavelengths <br>
    and see how far I can stretch my creativity. The OP is a good opportunity <br>
    for me to do this since we cover such unique topics.”<br>
             – Britney, 16</h2><br>

    <p>Next summer, with your help, more teens like Aleiyah, Britney, and
        Nia can benefit from our immersive Summer Institute.</p>


<br>

<p><i>The Octavia Project is a sponsored project of Fractured Atlas, a non-profit arts service
    organization. Contributions for the charitable purposes of Octavia Project must be made
    payable to “Fractured Atlas” only and are tax-deductible to the extent permitted by law.</i></p>

    <p>Thank you for making this program possible—we couldn’t do it without you!</p>


       <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

    </div>

{% include footer.html %}

