---
---
{% include header.html %}

    <div class="about" style="font-size: 1.2em;">
        <h1>Teens Take the Met Game Lab</h1>
        <p><i>The games below were created by teen participants at the May 2017 <a href="http://www.metmuseum.org/events/programs/met-celebrates/teen-night">
            Teens Take the Met</a>, at the Game Archade + Lab hosted by the Octaiva Project, Brooklyn Public Library, 
            and MyLibraryNYC.</i></p> 
            <p><i>Some games were authored by a single writer, some by two or three, or some, as in the case of our collaborative 
                game, by over a dozen. Add your line! Text the next line of any story to <a href="https://twitter.com/octaviaprojnyc"> 
                @octaviaprojnyc</a> with the hashtag #storyline to continue the story!</i></p>
        <br>
        <br>       

      
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}
