---
---
{% include header.html %}

    <div class="about" style="font-size: 1.2em;">
        <h1>Teens Take the Met Game Lab</h1>
        <p><i>The games below were created by teen participants at the May 2017 <a href="http://www.metmuseum.org/events/programs/met-celebrates/teen-night">
            Teens Take the Met</a>, at the Game Archade + Lab hosted by the Octavia Project, Brooklyn Public Library, 
            and MyLibraryNYC.</i></p> 
            <p><i>Some games were authored by a single writer, some by two or three, or some, as in the case of our collaborative 
                game, by over a dozen. Add your line! Text the next line of any story to <a href="https://twitter.com/octaviaprojnyc"> 
                @octaviaprojnyc</a> with the hashtag #storyline to continue the story!</i></p>
        <div class="game-grid">
            <div class="game-grid---row">
                <div class="game-grid---row---game">
                    <a href="/stories/_TTTM Collab Twine.html">Collaborative Game</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/Injection.html">Injection</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/New World.html">New World</a>
                </div>                
            </div>
            <div class="game-grid---row">
                <div class="game-grid---row---game">
                    <a href="/stories/No Time to be Eating Potatoes.html">No Time to be Eating Potatoes</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/Shepard.html">Shepard</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/Super Monkey Ball.html">Super Monkey Ball</a>
                </div>                
            </div>
            <div class="game-grid---row">
                <div class="game-grid---row---game">
                    <a href="/stories/The City Looks so Pretty.html">The City Looks so Pretty</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/The Depth of Space.html">The Depth of Space</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/The Invasion.html">The Invasion</a>
                </div>                
            </div>
            <div class="game-grid---row">
                <div class="game-grid---row---game">
                    <a href="/stories/The King_s Prison.html">The King_s Prison</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/The Tornado and the Caterpillar.html">The Tornado and the Caterpillar</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/The Wind.html">The Wind</a>
                </div>                
            </div>
            <div class="game-grid---row">
                <div class="game-grid---row---game">
                    <a href="/stories/Vamp Diaries.html">Vamp Diaries</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/digital world.html">digital world</a>
                </div>
                <div class="game-grid---row---game">
                    <a href="/stories/visions.html">visions</a>
                </div>                
            </div>            
        </div>
               

      
    <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
    </div>
{% include footer.html %}
