---
---
{% include header.html %}
    <img src="{{ site.url }}/assets/img/photos/OctaviaHeader_Britney.png" class="donate-img">
    <div class="support">

        <p>The Octavia Project uses the creative power of science fiction to imagine new futures
            and greater possibilities for our world. We build spaces of imagination for Brooklyn teens, 
            blending writing, art, science, and technology to create rich, interdisciplinary workshops 
            that encourage critical thinking, build confidence, and develop skills in a myriad of subjects. 
            Our Summer Institute is a free month-long program where young women and non-binary youth from 
            Brooklyn gain the skills and leadership experience to build alternate futures for themselves 
            and their communities.</p>
        
        <p> For the past four years, the Octavia Project has
            provided Brooklyn teens with an empowering community and enriching confidence-building
            workshops that broaden horizons and develop critical skills. 
            Our participants put it best:
        </p>
        
<h2>"I like being a female nerd in the world. I like<br>
    the fact that the Octavia Project is a group for<br>
    all different and unique types of people."<br>
             – Aleiyah, 16</h2><br>
        
<h2>“I’m very shy, and it’s totally okay to be shy <br>
    because the girls at the Octavia Project won’t judge you or criticize you<br> 
    and are very supportive.”<br>
    – Nia, 16</h2><br>

    <p>Next summer, with your help, more teens like Aleiyah, Britney, and
        Nia can benefit from our immersive Summer Institute.</p>

<div align="center">
    <a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">
        <button id="donate-button">Donate</button>
    </a>
</div>
<br>

<p><i>The Octavia Project is a sponsored project of Fractured Atlas, a non-profit arts service
    organization. Contributions for the charitable purposes of Octavia Project must be made
    payable to “Fractured Atlas” only and are tax-deductible to the extent permitted by law.</i></p>

    <p>Thank you for making this program possible—we couldn’t do it without you!</p>


       <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>

    </div>

{% include footer.html %}

