<div class="post-donate">
  <div class="post-donate-message">
    <p>
      <i>The Octavia Project uses the creative power of science fiction to imagine new futures 
        and greater possibilities for our world. We create spaces of imagination for Brooklyn 
        teens, blending creative writing, art, science, and technology to create rich, 
        interdisciplinary workshops that encourage critical thinking, build confidence, 
        and develop skills in a myriad of subjects.
      </i>
    </p>
  </div>
  <div class="post-donate-button">
      <a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">
        <button id="donate-button">Donate</button>
      </a>
    </div>
</div>
