<div class="post-donate">
  <div class="post-donate-message">
    <p>
      <i>The Octavia Project is a sponsored project of Fractured Atlas, a non-profit arts service
      organization. Contributions for the charitable purposes of Octavia Project must be made
      payable to “Fractured Atlas” only and are tax-deductible to the extent permitted by law.
      </i>
    </p>
    <p>
      Thank you for making this program possible—we couldn’t do it without you!
    </p>
  </div>
  <div class="post-donate-button">
      <a href="https://www.fracturedatlas.org/site/FiscalSponsorship/profile?id=14155">
        <button id="donate-button">Donate</button>
      </a>
    </div>
</div>
