---
# Front matter comment to ensure Jekyll properly reads file.
---

$font-text: 'Radley', serif;
$font-headline: 'Varela Round', sans-serif;
$primary-purple: #9B99FF;
$secondary-purple: #C1BFFF;
$darker-purple: #807EE6;
$primary-yellow: #EFF0C0; 
$text-color: #EBEBEB;
$background-color: rgba(25, 25, 25, 0.2);

// Colorful navbar 
$home-color: #C7C7FF;
$home-hover: #9A99FF;
$about-color: #EEC5FB;
$about-hover: #E799FF;
$blog-color: #F7C3DC;
$blog-hover: #FF99CA;
$join-color: #F3CFC1;
$join-hover: #FFB499;
$donate-color: #EEEFC0;
$donate-hover: #FDFF99;

/*
// RGB gradient navbar 
$home-color: #9B99FF;
$home-hover: #4642FF;
$about-color: #C0BFF2;
$about-hover: #A2A0FF;
$blog-color: #E5E5E5;
$blog-hover: #FFFFFF;
$join-color: #F1F2BF;
$join-hover: #FDFFA0;
$donate-color: #FDFF99;
$donate-hover: #FBFF42;

// Normal navbar
$home-color: #B6B6FF;
$home-hover: #EFF0C0;
$about-color: #B6B6FF;
$about-hover: #EFF0C0;
$blog-color: #B6B6FF;
$blog-hover: #EFF0C0;
$join-color: #B6B6FF;
$join-hover: #EFF0C0;
$donate-color: #B6B6FF;
$donate-hover: #EFF0C0;
*/

body {
  color: $text-color;
  font-family: $font-text;
  background-color: black;
  background-image: url('../img/stardust.png');
  //background-image: url(http://www.transparenttextures.com/patterns/notebook.png);
  font-size: 1.8em; 
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3 {
  font-family: $font-headline;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: $primary-yellow;
}
h2 {
  text-align: center;
  font-size: 1.2em;
  color: $primary-purple;
}
h3 {
  color: $primary-yellow;
  margin-top: 0px;
}

p {
  margin-bottom: 20px;
}

a {
  color: $primary-purple;
}
a:hover {
  color: $secondary-purple;
  text-decoration: none;
}

.main,
.footer {
  padding: 40px;
}

.header {
  padding: 0px 30px 15px 30px;
  text-align: center;
}

.main {
  box-shadow: 0 0 4px rgba(250, 250, 250, 0.2);
  background-color: $background-color;
}

.footer {
  padding-top: 19px;
}

.container {
  max-width: 960px;
}

div.manifesto {
  font-size: 1.2em; 
}

div.about {
  font-size: 1.1em; 
}

div.flower {
  text-align: center;
  clear: both;
  margin: 30px;
}
img.img-carousel {
  width: 900px;
  height: 500px;
}

img#logo {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.navbar {
  margin: 0 auto;
}
.navbar div {
  font-family: $font-headline;
  font-size: 1.7em;
  float: left;
  text-align:center;
}

.navbar div#home.active {
  border-bottom: 5px solid $home-color;
}
.navbar div#home a {
  color: $home-color;
}
.navbar div#home a:hover {
  color: $home-hover;
}

.navbar div#about.active {
  border-bottom: 5px solid $about-color;
}
.navbar div#about a {
  color: $about-color;
}
.navbar div#about a:hover {
  color: $about-hover;
}

.navbar div#blog.active {
  border-bottom: 5px solid $blog-color;
}
.navbar div#blog a {
  color: $blog-color;
}
.navbar div#blog a:hover {
  color: $blog-hover;
}

.navbar div#join.active {
  border-bottom: 5px solid $join-color;
}
.navbar div#join a {
  color: $join-color;
}
.navbar div#join a:hover {
  color: $join-hover;
}

.navbar div#donate.active {
  border-bottom: 5px solid $donate-color;
}
.navbar div#donate a {
  color: $donate-color;
}
.navbar div#donate a:hover {
  color: $donate-hover;
}

.navbar div a {
  -webkit-transition: width 1s, height 1s, color 1s, -webkit-transform 1s;
  transition:width 1s, height 1s, color 1s, transform 1s;
}
.navbar div a:hover {
  -webkit-transition: width 1s, height 1s, color 1s, -webkit-transform 1s;
  transition:width 1s, height 1s, color 1s, transform 1s;
}

img.bio {
  float: left;
  width: 46%;
  border-radius: 10%;
  margin-right: 30px;
}

// Smaller than landscape tablet
@media screen and (max-width: 768px) {
   Remove the padding we set earlier 
  .header,
  .main,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    padding: 0px;
    margin-bottom: 30px;
  }
  .main {
    box-shadow: none;
    background-color: transparent;
    padding-top: 20px;
  }
  .navbar div.active {
    border: 2px solid $primary-purple;
  }
  img.bio {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  img.bio {
    width:100%;
  }
}
