{% include header.html %}
      <div class="col-lg-12 manifesto">
        <h1 class="even">Our manifesto</h1>
        <p>We believe learning happens through joy. We believe that by following your passions, skill-building 
        (and skill sharing!) happens organically.
        We believe in figuring it out, Do-It-Yourself culture, and learning through experience.
        We believe that students make the best teachers, and vice versa.
        We don’t believe in arbitrary lines between artists, writers, makers, and scientists and 
        techies.</p>
        <p>Let’s explore art through science, science through art, use technology to daydream, and 
        make the world a more dynamic, hopeful place. </p>
        <p>At The Octavia Project, we are interested in how you think the world should be. Through science 
        fiction and fantasy writing, we will create new realities and new futures for ourselves and our 
        communities.</p>
      </div>
      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#" data-slide-to="0" class="active"></li>
          <li data-target="#" data-slide-to="1"></li>
          <li data-target="#" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img class="img-carousel" src="{{ site.url }}/assets/img/photos/joan.jpg">
            <div class="carousel-caption">
              joan
            </div>
          </div>
          <div class="item">
            <img class="img-carousel" src="{{ site.url }}/assets/img/photos/grace.jpg">
            <div class="carousel-caption">
              grace
            </div>
          </div>
          <div class="item">
            <img class="img-carousel" src="{{ site.url }}/assets/img/photos/cat.jpg">
            <div class="carousel-caption">
              meow
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <div class="flower"><img src="{{ site.url }}/assets/img/flower.png"></div>
      
      <div class="row blog-preview">
          {% for post in site.posts limit:3 %}
          <div class="col-xs-4">
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
              <a href="{{ post.url }}">Continue reading ...</a>
          </div>
          {% endfor %}
        </ul>
      </div>
      
      <script>
        $('.carousel').carousel()
      </script>
{% include footer.html %}
